.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px #000
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50px;
}

.nav_logo p {
    color: #171717;
    font-size: 30px;
    font-weight: 600
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    gap: 35px;
    font-size: 18px;
    font-weight: 500
}

.nav_links li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer
}

.nav_links hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141
}

.login {
    display: flex;
    align-items: center;
    gap: 35px
}

.login button {
    width: 130px;
    height: 50px;
    font-size: 18px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-weight: 500;
    background: #fff;
    cursor: pointer
}

.login button:active {
    background: #f3f3f3
}

.nav-cart-counter {
    width: 18px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 16px;
    background: red;
    color: #fff
}

.nav-dropdown {
    display: none;
    cursor: pointer
}

@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px
    }

    .nav_logo img {
        width: 40px
    }

    .nav_logo p {
        font-size: 25px
    }

    .nav_links {
        gap: 30px;
        font-size: 16px
    }

    .login {
        gap: 30px
    }

    .login button {
        width: 120px;
        height: 45px;
        font-size: 16px
    }

    .nav-cart-counter {
        margin-left: -40px;
        font-size: 12px
    }
}

@media(max-width: 1024px) {
    .navbar {
        padding: 12px 30px
    }

    .nav_links {
        gap: 25px;
        font-size: 14px
    }

    .login button {
        width: 80px;
        height: 35px;
        font-size: 14px
    }

    .login img {
        width: 30px
    }

    .nav-cart-counter {
        width: 18px;
        height: 18px
    }
}

@media(max-width: 800px) {
    .navbar {
        padding: 10px 0
    }

    .nav-dropdown {
        display: block
    }

    .nav_links {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: #fff;
        justify-content: center;
        top: 50px
    }

    .nav_links-visible {
        display: flex
    }
}

@media(max-width: 500px) {
    .navbar {
        width: 8px 0px;
        gap: 0
    }

    .nav_logo {
        transform: scale(.8)
    }

    .nav_links {
        height: 70px;
        top: 50px
    }

    .login {
        transform: scale(.8)
    }
}