.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.footer_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer_linkes{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer_linkes li{
    cursor: pointer;
}
.footer_social_icons{
    display: flex;
    gap: 20px;
}
.footer_icons_container{
    padding: 10px;
    padding-bottom: 6px;
    color: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer_copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer_copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width:800px) {
    .footer{
        gap: 20px;
    }
    .footer_logo{
        gap: 10px;
        align-items: end;
    }
    .footer_logo img{
        width: 40px;
    }
    .footer_logo p{
        font-size: 25px;
    }
    .footer_linkes{
        font-size: 14px;
        gap: 10px;
    }
    .footer_social_icons img{
        width: 22px;
    }
    .footer_copyright{
        font-size: 13px;
    }
    
}